body {
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin select {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

.inline {
    display: inline-block;
}

.inline-container {
    display: inline-block;
    margin: 5px;
}

.form-filter {
    font-size: 12px;
    padding: 3px;
    border: solid 1px grey;
    border-radius: 10px;
    margin-bottom: 15px;
}

.form-filter .form-control {
    font-size: inherit;
    position: relative;
    height: auto;
    width: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px;
}

.form-filter select {
    padding: 1px!important;
}

.form-filter option {
    padding: 3px;
}

.form-filter button {
    margin: 5px;
    padding: 5px;
    font-size: 14px;
}

.has-error {
    color: red
}

.link-edit {
    color: #00A;
}
a.link-edit:hover {
    color: #00F;
}
.link-del {
    color: #A00;
}
a.link-del:hover {
    color: #F00;
}

.link-add {
    color: #0A0;
}
a.link-add:hover {
    color: #0C0;
}

.center-block {float: none !important}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.line-2 {
    line-height: 200%;
}

.form-view-wrapper {
    padding-left: 10px;
    padding-right: 10px;
}

.form-view {
    margin-top: 20px;
    border: solid 2px #5344a5;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    line-height: 30px;
}

.form-legend {
    margin-top: -20px;
    margin-bottom: 10px;
    padding: 8px;
    float: left;
    font-size: 14px;
    text-align: left;
}

.col-label {

}

.col-value {
    color: #0000AA;
}

.bold {
    font-weight: bold;
}

.mr20 {
    margin-right: 20px;
}

.mxw300 {
    max-width: 300px;
}